name: Spell Check

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  spellcheck:
    name: Check spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run spell check
        uses: check-spelling/check-spelling@main
        with:
          config: .github/spellcheck
          post_comment: true
          experimental_apply_changes_via_bot: true
